  <footer class="has-text-centered" style="padding: 1.5em">
    <small>Designed &amp; Developed By <strong><a href="https://simongjetaj.github.io/" target="_blank" class="footer-link">Simon Gjetaj</a></strong> &copy; <%= (new Date().getFullYear() > 2018) ? '2018 - ' + new Date().getFullYear() : '2018' %></small>
  </footer>
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
  </body>
</html>