<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <% if(typeof page === 'undefined') { %> 
  <link rel="stylesheet" href="/public/dist/styles.bundle.css" />
  <% } %>
  <title>Humans of Albania</title>
</head>

<body>