<%- include ('partials/header') %>

<style>
  :root {
    --btnPrimary: #ee534a;
    --btnSecondary: #ffab91;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    overflow: hidden;
  }

  .v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .container {
    max-width: 960px;
    padding: 0 1rem 0 1rem;
    margin: auto;
    text-align: center;
  }

  .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .header-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: rgba(0, 0, 0, 0.55);
    box-shadow: inset 60px 50px 125px #000, inset -60px -15px 125px #000;
  }

  .header-content {
    z-index: 2;
    -webkit-font-smoothing: antialiased;
  }

  .header-content h1 {
    font-size: 2.8rem;
    margin-bottom: 0;
    /* text-shadow: 1px 1px 1px #000; */
  }

  .header-content .animated {
    background: url('../public/text-bg.png') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, .55);
    /* color: transparent; */
    animation: moveBg 90s linear infinite;
    -webkit-animation: moveBg 90s linear infinite;
  }

  /* Text Background Animation */
  @keyframes moveBg {
    from {
      background-position: 0% 30%;
    }

    to {
      background-position: 100% 50%;
    }
  }

  .header-content p {
    font-size: 1.35rem;
    padding-bottom: 2rem;
    text-shadow: 0.5px 0.5px 0.5px #000;
  }

  .header-content .btn {
    background: var(--btnPrimary);
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: bold;
  }

  .btn:hover {
    background: #fff;
    color: var(--btnPrimary);
    transition: background 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
</style>

<header class="v-header container">
  <div class="fullscreen-video-wrap">
    <video src="../public/humans.mp4" autoplay muted loop></video>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content text-md-center">
    <h1 class="animated">Humans of Albania</h1>
    <p>
      The latest stories from Humans of Albania, featuring interviews with hundreds of
      them on our streets.
    </p>
    <a href="stories" class="btn">Get Started</a>
  </div>
</header>

<%- include ('partials/footer') %>
