<% include partials/header %>

<header class="v-header container">
  <div class="fullscreen-video-wrap">
    <video src="../public/humans.mp4" autoplay muted loop>
  </video>
  </div>
  <div class="header-overlay"></div>
  <div class="header-content text-md-center">
    <h1>Humans of New York</h1>
    <p>The latest stories from HONY, featuring interviews with thousands of people on the streets of New York City.</p>
    <a href="stories" class="btn">Get Started</a>
  </div>
</header>


<% include partials/footer %>
