<% include ./partials/header %>
<% include ./partials/navbar %>

  <div class="columns mt is-mobile is-centered">
    <div class="column is-4-widescreen is-5-fullhd  is-4-desktop is-4-tablet is-8-mobile">
      <form action="/register" method="POST" id="registerForm">
        <div class="field">
          <label for="rUsername" class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Enter Username" name="rUsername" id="rUsername">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label for="rEmail" class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Enter Email" name="rEmail" id="rEmail">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label for="rPassword" class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Enter Password" name="rPassword" id="rPassword">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label for="rConfirmPassword" class="label">Confirm Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="password" placeholder="Confirm Password" name="rConfirmPassword" id="rConfirmPassword">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>


        <div class="field is-grouped is-pulled-right">
          <div class="control">
            <a href="/stories" class="button is-outlined">Cancel</a>
          </div>
          <div class="control">
            <button class="button primary">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<% include ./partials/footer %>